<div class="container">
    <form class="formulario" (ngSubmit) = "confirmar()">
        <h1 class="formulario__titulo">Urna Eletronica</h1>
        <img src="" alt="" srcset="">
        <div class="form-field">
            <label class="form-field__label" for="idRg">RG:</label>
            <input type="number" class="form-field__input"  id="idRg" [(ngModel)] = "rg" name="nmRg" />
        </div>
        <div class="form-field">
            <label class="form-field__label" for="idNumCand">Numero Candidato:</label>
            <input class="form-field__input" type="number" id="idNumCand" [(ngModel)] = "numeroCandidato" name="nmNumeroCandidato">
        </div>

        <div class="form-field">
            <label class="form-field__label" for="nmCandidato">Urna Eletronica:</label>
            <input class="form-field__input" list="idUserCand" id="idCand"  [(ngModel)] = "listaCandidato" name="nmlistaCandidato" >
            <datalist id="idUserCand">
                <option value=" Maria">11 - Maria</option>
                <option value="João">12 - João </option>
                <option value="Erica">13 - Erica </option>
                <option value="Carlos"> 14 - Carlos</option>
            </datalist>
        </div>

        <div class="form-field">

            <table class="table table-striped">
                <thead>
                    <tr>

                        <th scope="col">Partido</th>
                        <th scope="col">Candidato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>11</td>
                        <td>Maria</td>
                    </tr>
                    <tr>

                        <td>12</td>
                        <td>Joao</td>
                    </tr>
                    <tr>

                        <td>13</td>
                        <td>Erica</td>
                    </tr>
                    <tr>

                        <td>14</td>
                        <td>Carlos</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="botao-wrapper">
            <button class="botao" type="button" (click)="branco()"> Branco</button>
            <button class="botao2" type="reset"> Corrigir</button>
            <button class="botao3" type="submit"> Confirmar</button>
        </div>

    </form>

</div>
