
<div  >
    <table class="tabela">
        <thead *ngIf="votos.length > 0; else listaVazia">
            <tr class="linha1">
                <th>RG Eleitor: </th>
                <th>Voto: </th>
                <th>Candidato: </th>
                <th>Data: </th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let voto of votos">
                <td>{{voto?.rg}}</td>
                <td>{{voto?.numeroCandidato}}</td>
                <td>{{voto?.listaCandidato}}</td>
                <td>{{voto?.data}}</td>
            </tr>
        </tbody>
        </table>
</div>
<ng-template #listaVazia>
  <p>Não há votos...</p>
</ng-template>
