<!-- <app-urnaEletronica (aoVotar) = "votar($event)" ></app-urnaEletronica> -->

<!-- <app-urnaEletronica></app-urnaEletronica>
<app-relatorio></app-relatorio> -->

<!-- <app-relatorio [votos] = "votos" >  </app-relatorio> -->

<router-outlet></router-outlet>
